
<h1>Welcome to Chat Ecommerce!</h1>

<div id="chat-container">
  <div id="chat-window">
    <div id="output"></div>
    <div id="actions"></div>
  </div>
  <div id="input-box">
    <input type="text" id="message" placeholder="Enter your message here..." />
    <button id="send">Send</button>
  </div>
</div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="js/index.js" charset="utf-8"></script>